
/*
	Purple Color Scheme
	#8678FE Light Purple
	#594FB1 Dark Purple
	#420173 Deep Dark Purple
	#ACA2FF Bright Purple
*/

.font_lato {
	font-family: 'Lato', sans-serif;
	line-height: 125%;
}
.font_os {
	font-family: 'Open Sans', sans-serif;
}
.font_roboto {
	font-family: 'Roboto', sans-serif;
}
.font_ssp {
	font-family: 'Source Serif Pro', serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	line-height: 125%;
	color:#420173;
}
body{
	font-family: 'Roboto', sans-serif;
	color:#594FB1;
}
body a{
	color:#ACA2FF
}
